.section__container {
  @include make-container();
}

.section__wrapper {
  @include make-row();
}

.section__content {
  @include make-col-ready();
  @include make-col(12);
  margin: space(3.125) 0 space(2.8125);
}

.section__title {
  margin-bottom: space(1.875);
  padding-bottom: space(1.875);
  &.tl__blue {
    color: var(--primary);
    span:before {
      background-color: var(--primary);
    }
    &:after {
      background-color: var(--primary);
    }
  }
  &.tl__beige {
    color: var(--secondary);
    span:before {
      background-color: var(--secondary);
    }
    &:after {
      background-color: var(--secondary);
    }
  }
  span {
    position: relative;
    display: inline-flex;
    font-size: 2.1875rem;
    &:before {
      content: '';
      position: absolute;
      bottom: space(1);
      right: calc(#{space(2)} * -1);
      display: block;
      width: 7px;
      height: 7px;
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  }
}

.tl__border {
  position: relative;
  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 170px;
    height: 2px;
  }
}

@include media-breakpoint-up(sm) {
  .section__container {
    max-width: map_get($container-max-widths, 'sm');
  }
}

@include media-breakpoint-up(md) {
  .section__container {
    max-width: map_get($container-max-widths, 'md');
  }
}

@include media-breakpoint-up(lg) {
  .section__container {
    max-width: map_get($container-max-widths, 'lg');
  }
}

@include media-breakpoint-up(xl) {
  .section__container {
    max-width: map_get($container-max-widths, 'xl');
  }
}
