{% extends "base.twig" %}

{% block content %}
	<div class="container">
		<div class="grid grid-js are-images-unloaded">
			{% for post in posts %}
				{% include ['tease-'~post.post_type~'.twig', 'tease.twig'] %}
			{% endfor %}
		</div>
	</div>
{% endblock %}