{% block html_head_container %}

{% include 'layouts/html-header.twig' %}
	{% block head %}
	{% endblock %}
	</head>
{% endblock %}

{% spaceless %}
<body class="{{body_class}}" data-template="base.twig">

<header class="header" role="banner">
	{% block header %}
		{% include 'layouts/header.twig' %}
	{% endblock %}
</header>

<main role="main" itemscope itemprop="mainContentOfPage" itemtype="http://schema.org/Blog">
	{% block content %}
		Sorry, no content
	{% endblock %}
</main>

<footer id="footer" role="contentinfo">
	{% block footer %}
		{% include 'layouts/footer.twig' %}
	{% endblock %}
</footer>
{{ function('wp_footer') }}

</body>
</html>
{% endspaceless %}
