{% extends "tease.twig" %}

{% block content %}
	<div class="tease__image--container">
		{% if post.thumbnail %}
			<img class="thumbnail" {{post.thumbnail.id|get_timber_image_responsive('mediator-thumbnail', {
					lazy_srcset: true,
					lazy_src: true,
					lazy_sizes: true
				}) }}>
		{% endif %}
	</div>
	<div class="tease__content">
		<h2 class="h2"><a href="{{ post.link }}">{{ post.title }}</a></h2>
		{% if post.get_field('_bio') is not empty %}
			{{ post.get_field('_bio')|myTruncate(25, '') }}
		{% endif %}
	</div>
{% endblock %}
