// Mixins
@import "mixins/mixins";

// Variables
@import "variables";

// Fonts
@import "fonts";

// Reset
@import "reset/css-remedy";
@import "~bootstrap/scss/bootstrap-reboot.scss";

// Bootstrap
$enable-flex:               true;
$enable-grid-classes:       true;
$grid-columns:              12;
$grid-gutter-width:         30px;
$grid-row-columns:          6;
@import "~bootstrap/scss/bootstrap-grid.scss";
@import "~bootstrap/scss/forms";
@import "~bootstrap/scss/input-group";
@import "~bootstrap/scss/custom-forms";
@import "~bootstrap/scss/alert";
@import "~bootstrap/scss/list-group";
@import "~bootstrap/scss/mixins/list-group";
@import "~bootstrap/scss/buttons";
@import "~bootstrap/scss/mixins/buttons";
@import "~bootstrap/scss/nav";

// Wordpress admin
@import "admin/wp-admin";

// Styles
@import "general";
@import "spacing";
@import "typography";

// Header
@import "header/header";
@import "menu/menu";
@import "menu/nav-trigger";

// Page
@import "page/page";
@import "page/homepage";

// Article
@import "article/tease";
@import "article/single";
@import "article/pagination";
@import "article/single-list";

// Footer
@import "footer/footer";

// Flickity
@import "~flickity/css/flickity.css";
